*{
	font-family: "courier new", monospace;
	font-size: 20px;
	
}
h1{
	font-size: 80px;
	font-weight: bolder;
}
#uppercase{
	text-transform: uppercase;
}
li.lang{
	background-color: lightgreen;
}
li.tool{
border-width: 2px;
	border-style: solid;
	border-color: navy;

}
div img{
	border-radius: 250px;
}
/*sir hindi ko po sya maalign sa center gamit si sibling selector
kaya gumamit nalng po ako ng Id para maalig ko po siya* mas gamay
 ko po kasi sir si ID tska si class nalilito pa po ako sa selector*/

/*p#last{
	text-align: center;
	letter-spacing: 0px;
}*/
ul > li{
	letter-spacing: 8px;
	list-style: none

}
div ~ p{
	
	text-align: center;
	
	
}

